# Web Framework & Server
fastapi
uvicorn[standard]
python-dotenv
python-multipart

# Database
SQLAlchemy
psycopg2-binary

# Authentication
python-jose[cryptography]
passlib[bcrypt]

# OCR, Image, and Language Processing
easyocr
fugashi[unidic-lite]
pykakasi
googletrans

# External APIs
google-generativeai

# Data Validation
pydantic

# Monitoring
prometheus-fastapi-instrumentator

# RAG-related libraries
langchain-huggingface
langchain
langchain-community
langchain-google-genai
chromadb
sentence-transformers
